.bio{
    background-color: hsla(0, 0%, 3%, 1);
    padding-block: 90px;
    background-image: url(/public/images/bio/bio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-size: 757px;
    .bio__text{
        margin-left: auto;
        max-width: 609px;
        text-align: center;
        .bio__title{
            font-family: 'Trade Gothic LT Std';
            font-style: normal;
            font-weight: 400;
            font-size: 26px;
            line-height: 110%;
            text-align: center;
            text-transform: uppercase;
            color: rgba(232, 235, 216, 0.8);     
            margin-block-end: 40px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            align-items: center;
            &::after{
                content: "";
                display: inline-block;
                width: 120px;
                height: 1px;
                background-color: hsla(0, 87%, 41%, 1) ;
            }
        }
        .bio__name{
            font-family: 'AkzidenzGrotesk';
            font-style: normal;
            font-weight: 400;
            font-size: 56px;
            line-height: 56px;
            text-align: center;
            text-transform: uppercase;
            color: #E8EBD8;
            display: inline-block;
            padding-block-end: 20px;
        }
        .bio__desc{
            font-family: 'Trade Gothic LT Std';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            text-align: center;
            color: #E8EBD8;
            &:where(:nth-child(3), :nth-child(5),:nth-child(6)){
                margin-block-end: 20px;
            }
        }
    }
}

@media (max-width: 1235px) {
    .bio__text{
        background-color: hsla(0, 0%, 3%, .6);
        backdrop-filter: blur(10px);
        border-radius: 20px;
    }
}