

.header{
    background-color: hsla(0, 0%, 3%, 1);

  .header__container{
    align-items: center;
    justify-content: space-between;
  }
}
  
  .nav{
    align-items: center;
  }
  
  .nav__list{
    --gap: 47px;
    align-items: center;
    gap: var(--gap);
    list-style: none;
  }
  
  .nav__link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #969696;
    transition:  background-color 0.6s ease;
    -webkit-transition:  background-color 0.6s ease;
    -moz-transition:  background-color 0.6s ease;
    -ms-transition:  background-color 0.6s ease;
    -o-transition:  background-color 0.6s ease;
    text-decoration: none;
}
  
  .nav__link:hover{
    background-color: #1F1F1F;
  }
  
  /* stylelint-disable */
  
  .burger {
    --burger-width: 30px;
    --burger-height: 20px;
    --burger-line-height: 2px;
    display: none;
    position: relative;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: hsla(0, 87%, 41%, 0.5);
    background-color: transparent;
    cursor: pointer;
  }
  
  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    top: calc(100% - var(--burger-line-height));
  }
  
  .burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: hsla(0, 87%, 41%, 0.5);
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }
  
  .burger--active::before {
    top: 50%;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }
  
  .burger--active::after {
    top: 50%;
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }
  
  .burger--active .burger__line {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }
  
  
  
  @media (max-width:740px) {
    .nav{
      border-right: 1px solid hsla(0, 87%, 41%, .9);
      visibility: hidden;
      position: fixed;
      left: 0;
      top: 0;
      width: 81%;
      background: linear-gradient(90deg,hsla(0, 87%, 41%, .9) 9%,hsla(0, 0%, 3%, .8) 6%);
      backdrop-filter: blur(10px);
      height: 100vh;
      z-index: 100;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 51px;
      padding: 50px;
      overflow-y: auto;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out, visibility 0.5s ease-in-out;
      -webkit-transition: transform 0.3s ease-in-out, visibility 0.5s ease-in-out;
      -moz-transition: transform 0.3s ease-in-out, visibility 0.5s ease-in-out;
      -ms-transition: transform 0.3s ease-in-out, visibility 0.5s ease-in-out;
      -o-transition: transform 0.3s ease-in-out, visibility 0.5s ease-in-out;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
  }
    .nav__list{
      margin-right: 0;
      flex-direction: column;
      align-items: flex-start;
    }
    .nav__link{
        font-size: 34px;
    }
  }
  
  @media (max-width:740px) {
    .burger{
      display: block;
    }
  }
  
  .nav.menu--active{
    visibility: visible;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  