
.hero{
    background-color: hsla(0, 0%, 3%, 1);
    padding-block-start: 63px;
    
    .hero__content{
        // padding-block-start: 178px;
        padding-block-start: clamp(20px, 5vw + 3rem, 178px);
        max-width: 780px;
        grid-column: 6 span;
        .hero__quto{
            font-family: 'AkzidenzGrotesk';
            font-style: normal;
            font-weight: 400;
            font-size: clamp(20px, 2vw + 2rem, 80px);
            // font-size: 20px;
            line-height: 110%;
            text-transform: uppercase;
            color: #E8EBD8;
            margin-block-end: 80px;
        }
        .hero__title{
            font-family: 'Trade Gothic LT Std';
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 110%;
            text-transform: uppercase;
            color: #E8EBD8;
            margin-block-end: 10px;
        }
        .hero__sub-info{
            font-family: 'Trade Gothic LT Std';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 110%;
            text-transform: uppercase;
            color: rgba(232, 235, 216, 0.8);
            a{
                color: hsla(0, 87%, 41%, 1);
            }
        }
    }
    .hero__image{
        grid-column: 7 / 12 span;
        overflow: hidden;
        img{
            object-fit: cover;
        }
}
}



@media (max-width:1250px) {
    .hero{
        .grid{
            gap: 40px;
        }
        .hero__content{
            grid-column: 1 / 12 span;
            margin-inline: auto;
            text-align: center;
        }
        .hero__image{
            grid-column: 1 / 12 span;
            margin-inline: auto;
        }
    }
}

@media (max-width:460px) {
    .hero{
        .hero__content{
            grid-column: 1 / 6 span;
        }
        .hero__image{
            grid-column: 1/ 6 span;
        }
    }
}
